# DATA PIPLINE ENGINEERING SPECIALIST

In [110]:
# Get packages instaled on virtual-env
sys.path.append('./venv/lib/python3.6/site-packages')

import sys
import pandas as pd
import numpy as np
from pandas.io.json import json_normalize

## 2. DATA ANALYSIS

In [112]:
date_time_zone_parser = lambda x: pd.datetime.strptime(x, '%Y-%m-%d %H:%M:%S %Z') 

df_taxi = pd.read_csv('chicago_taxi_2020.csv',
                 parse_dates=['trip_start_timestamp'],
                 date_parser=date_time_zone_parser,
                 index_col=['company','unique_key'])

# Trip Miles in KM
df_taxi['trip_km'] = df_taxi.trip_miles.div(0.621371).round(3)

# End Trip Rounded by 15min
df_taxi['trip_end_timestamp'] = df_taxi['trip_start_timestamp'] + pd.to_timedelta(df['trip_seconds'], unit='s')
df_taxi['trip_end_timestamp'] = df_taxi['trip_end_timestamp'].dt.round('15min')

df_taxi.head()

                                                                                              taxi_id  \
company   unique_key
Flash Cab f4653cf7158b63b34b6b6ca489236313fec917f3  285cc167b1f961ba4c60c04be39e70d1776010b8c699e8...
          2dbcfb99de158794d1b0bf9f6ddfd4bc983a0034  f0914931861d5a79d70899dce5a47501d6704127c8da5d...
          87e9984febf4924a1ba3feec6cd5b0c1edff5d2a  ef9f6dbe1db6edf9615b61d6bb7099a28cc86b0c1fd6c2...
          625f18c025d1ff59e139fdf21274acd5ed90fad7  25026b4fed9610802a9737c038f487a76836346a67274e...
          974b5d80f41ce4b0974b6b51453a70b1d614551b  2e89bc81a8b84b7d8925ca05c7e2fe0011b93ab12fb840...

                                                   trip_start_timestamp  \
company   unique_key
Flash Cab f4653cf7158b63b34b6b6ca489236313fec917f3  2020-02-12 15:15:00
          2dbcfb99de158794d1b0bf9f6ddfd4bc983a0034  2020-03-01 15:15:00
          87e9984febf4924a1ba3feec6cd5b0c1edff5d2a  2020-03-01 14:30:00
          625f18c025d1ff59e139fdf21274acd5ed90fad7  2020-01-06 06:30:00
          974b5d80f41ce4b0974b6b51453a70b1d614551b  2020-01-10 08:15:00

                                                     fare  tips  tolls  \
company   unique_key
Flash Cab f4653cf7158b63b34b6b6ca489236313fec917f3   6.25  1.35    0.0
          2dbcfb99de158794d1b0bf9f6ddfd4bc983a0034  48.25  9.75    0.0
          87e9984febf4924a1ba3feec6cd5b0c1edff5d2a  30.50  8.75    0.0
          625f18c025d1ff59e139fdf21274acd5ed90fad7  33.25  6.75    0.0
          974b5d80f41ce4b0974b6b51453a70b1d614551b   7.75  1.24    0.0

                                                    extras payment_type  \
company   unique_key
Flash Cab f4653cf7158b63b34b6b6ca489236313fec917f3     0.0       Mobile
          2dbcfb99de158794d1b0bf9f6ddfd4bc983a0034     0.0  Credit Card
          87e9984febf4924a1ba3feec6cd5b0c1edff5d2a     4.0  Credit Card
          625f18c025d1ff59e139fdf21274acd5ed90fad7     0.0  Credit Card
          974b5d80f41ce4b0974b6b51453a70b1d614551b     0.0       Mobile

                                                    trip_miles  trip_seconds  \
company   unique_key
Flash Cab f4653cf7158b63b34b6b6ca489236313fec917f3        0.87         416.0
          2dbcfb99de158794d1b0bf9f6ddfd4bc983a0034       18.71        3015.0
          87e9984febf4924a1ba3feec6cd5b0c1edff5d2a       11.47        1594.0
          625f18c025d1ff59e139fdf21274acd5ed90fad7       12.83        2019.0
          974b5d80f41ce4b0974b6b51453a70b1d614551b        0.83         732.0

                                                    trip_km  \
company   unique_key
Flash Cab f4653cf7158b63b34b6b6ca489236313fec917f3    1.400
          2dbcfb99de158794d1b0bf9f6ddfd4bc983a0034   30.111
          87e9984febf4924a1ba3feec6cd5b0c1edff5d2a   18.459
          625f18c025d1ff59e139fdf21274acd5ed90fad7   20.648
          974b5d80f41ce4b0974b6b51453a70b1d614551b    1.336

                                                    trip_end_timestamp
company   unique_key
Flash Cab f4653cf7158b63b34b6b6ca489236313fec917f3 2020-02-12 15:15:00
          2dbcfb99de158794d1b0bf9f6ddfd4bc983a0034 2020-03-01 16:00:00
          87e9984febf4924a1ba3feec6cd5b0c1edff5d2a 2020-03-01 15:00:00
          625f18c025d1ff59e139fdf21274acd5ed90fad7 2020-01-06 07:00:00
          974b5d80f41ce4b0974b6b51453a70b1d614551b 2020-01-10 08:30:00

##  Average fare per taxi

In [115]:

df_taxi_average = df_taxi.groupby('taxi_id')['fare'].mean()

df_taxi_average.head()

taxi_id
0008de7a146802839c9e6059f482d292ebdae13c5c31dd6e5983a80882e2a5dbcd6ea098c2fcd56f34ce02645eb94c6b39512e9304837746d4e289b6236c2c5b     8.711824
001330b81e23412049f9c3eff5b6e972a91afe59c9aa36ef29747881b4bf803adfd02b1a71cca5cb8c2214275330aa4520df34d7848100414acb4b4cad642e62    22.470238
0041f8f0c91881c1e1913f2548522495fe3c4c719aa67fd2483ebbcc22e0aa1bfff2cddb32c35cde3ad9766b0e8d44c04ff5dfdcf1035462ba81a13e3ba6b8f9    11.591757
00752524a4118a162dce62ff49c0eb0f79530d9e0ecb5a9b0d23deae98ef2ab2bc84831d2191950da25620e550ad69840e1d02f69d49ab1d9b2b4387e31c2af1    22.897009
0083fcde0fb490b4ec424c63d1d750378f6ad11154d1d4a1cd5388b0b7d16c72eacf606c4d90cbdee388d2a99f3ed24d126ee948ba7c37da0af1d254b8b069cf    13.932792
Name: fare, dtype: float64

## Longest trips by company

In [118]:
df_taxi['fare_rank'] = df_taxi.groupby('company')['trip_miles'].rank(ascending=False)

filter_rank = df_taxi['fare_rank'] == 1

df_taxi[filter_rank].head()

,,taxi_id,trip_start_timestamp,fare,tips,tolls,extras,payment_type,trip_miles,trip_seconds,trip_km,trip_end_timestamp,fare_rank
company,unique_key,,,,,,,,,,,,
Flash Cab,ea2e33fb58691568cdff84ada143d43dc8e72ae1,931225a382fc38a75212f9d358439aec0d9b50fdaf32ad...,2020-01-11 19:15:00,441.50,0.0,0.0,8.5,Cash,193.22,15308.0,310.958,2020-01-11 23:30:00,1.0
City Service,1fdb61d4c3b794a2cce70673a134d4950437d8a8,09a2d0cb4487e3ba161afe7dc5fee95bb7f2af5d6cd9c8...,2020-01-13 11:00:00,995.73,0.0,0.0,33.3,Cash,642.20,34.0,1033.521,2020-01-13 11:00:00,1.0
Choice Taxi Association,3375665084d33a94b41e359af8b20bf7fd6243dc,a149c6df861b2eff6f27491e024e37d2c3705aa5399c31...,2020-01-31 09:15:00,161.25,0.0,0.0,5.0,Cash,69.00,5220.0,111.045,2020-01-31 10:45:00,1.0
Chicago Carriage Cab Corp,52d2e424145bc9333a53d4f3c93504be16363af5,fcc93559d394dcb5c7540f94ce918eac0d6f37b22cfdfd...,2020-03-21 16:15:00,331.00,0.0,0.0,4.0,Cash,142.90,8283.0,229.975,2020-03-21 18:30:00,1.0
Taxi Affiliation Services,34dd478efd8de290a48e79adbe7dc1376694bab1,a31021b275b63495a92267e728643ab64ecb5fddc3a784...,2020-02-27 10:45:00,33.75,0.0,0.0,0.0,Cash,993.60,3240.0,1599.045,2020-02-27 11:45:00,1.0

## Biggest tip per taxi

In [122]:
df['tip_rank'] = df.groupby('taxi_id')['tips'].rank(ascending=False)

filter_rank = (df.tip_rank == 1) & (df.trip_seconds < 60)

df[filter_rank].head()

                                                                                              taxi_id  \
company   unique_key
Flash Cab de3d84a0dd8c6737dcb5ffa9c9658bbea05ca60d  27f677a6fabd0fdd92d357f990ab06c173a003d5cba0c3...
          90d65d7401b38960a4070f2301287a73ebeda592  bb9f5109767a0be87c8732bae32c61c1c7d322108b697e...
          8c5e9b6868aa12a14b8c9fd8e3039ce493331ae3  7abac4926ff296e6403f9929f4527d9dd181e54e72f720...
          b38ff6e929f897a8ca1dd51c55afbe4a31b60e45  9af6216887942597a1374258b2818c015c78468941877a...
          1b015345a72b8f78cc3321d446156cd0cab70cfa  322630536b6fae63312b46cb1ddab0df9493b49a3eb5de...

                                                   trip_start_timestamp  \
company   unique_key
Flash Cab de3d84a0dd8c6737dcb5ffa9c9658bbea05ca60d  2020-01-14 04:45:00
          90d65d7401b38960a4070f2301287a73ebeda592  2020-05-30 15:00:00
          8c5e9b6868aa12a14b8c9fd8e3039ce493331ae3  2020-01-11 22:15:00
          b38ff6e929f897a8ca1dd51c55afbe4a31b60e45  2020-01-11 15:00:00
          1b015345a72b8f78cc3321d446156cd0cab70cfa  2020-03-09 09:00:00

                                                      fare   tips  tolls  \
company   unique_key
Flash Cab de3d84a0dd8c6737dcb5ffa9c9658bbea05ca60d   40.00  20.00    0.0
          90d65d7401b38960a4070f2301287a73ebeda592    0.01  33.00    0.0
          8c5e9b6868aa12a14b8c9fd8e3039ce493331ae3    3.25  20.00    0.0
          b38ff6e929f897a8ca1dd51c55afbe4a31b60e45   95.25  21.86    0.0
          1b015345a72b8f78cc3321d446156cd0cab70cfa  132.00  19.88    0.0

                                                    extras payment_type  \
company   unique_key
Flash Cab de3d84a0dd8c6737dcb5ffa9c9658bbea05ca60d     0.0  Credit Card
          90d65d7401b38960a4070f2301287a73ebeda592     0.0  Credit Card
          8c5e9b6868aa12a14b8c9fd8e3039ce493331ae3     0.0  Credit Card
          b38ff6e929f897a8ca1dd51c55afbe4a31b60e45    50.0  Credit Card
          1b015345a72b8f78cc3321d446156cd0cab70cfa     0.0  Credit Card

                                                    trip_miles  trip_seconds  \
company   unique_key
Flash Cab de3d84a0dd8c6737dcb5ffa9c9658bbea05ca60d        0.00          37.0
          90d65d7401b38960a4070f2301287a73ebeda592        0.00          47.0
          8c5e9b6868aa12a14b8c9fd8e3039ce493331ae3        0.00          44.0
          b38ff6e929f897a8ca1dd51c55afbe4a31b60e45       39.93          24.0
          1b015345a72b8f78cc3321d446156cd0cab70cfa        0.00          58.0

                                                    trip_km  \
company   unique_key
Flash Cab de3d84a0dd8c6737dcb5ffa9c9658bbea05ca60d    0.000
          90d65d7401b38960a4070f2301287a73ebeda592    0.000
          8c5e9b6868aa12a14b8c9fd8e3039ce493331ae3    0.000
          b38ff6e929f897a8ca1dd51c55afbe4a31b60e45   64.261
          1b015345a72b8f78cc3321d446156cd0cab70cfa    0.000

                                                    trip_end_timestamp  \
company   unique_key
Flash Cab de3d84a0dd8c6737dcb5ffa9c9658bbea05ca60d 2020-01-14 04:45:00
          90d65d7401b38960a4070f2301287a73ebeda592 2020-05-30 15:00:00
          8c5e9b6868aa12a14b8c9fd8e3039ce493331ae3 2020-01-11 22:15:00
          b38ff6e929f897a8ca1dd51c55afbe4a31b60e45 2020-01-11 15:00:00
          1b015345a72b8f78cc3321d446156cd0cab70cfa 2020-03-09 09:00:00

                                                    trip_rank  tip_rank
company   unique_key
Flash Cab de3d84a0dd8c6737dcb5ffa9c9658bbea05ca60d        1.0       1.0
          90d65d7401b38960a4070f2301287a73ebeda592        1.0       1.0
          8c5e9b6868aa12a14b8c9fd8e3039ce493331ae3        1.0       1.0
          b38ff6e929f897a8ca1dd51c55afbe4a31b60e45        1.0       1.0
          1b015345a72b8f78cc3321d446156cd0cab70cfa        1.0       1.0

# 3. DATA TRANFORMATION

In [125]:

df_option = pd.read_json('option_data.json',orient='records', lines=True)

# Atribute a unique_id to facilite the merge 
df_option["unique_id"] = df_option.index
dict_option = df_option.to_dict("records")


## Tree column manipulation
df_tree = json_normalize(dict_option,'tree',['unique_id'], sep='_').sort_values(['unique_id', 'depth'], ascending=[True, True])

df_option_path = df_tree.groupby(['unique_id'], as_index = False).agg({'id': ';'.join})
df_option_path = df_option_path.rename(columns={"id": "option_path"})


## Metadata column manipulation
df_metadata = json_normalize(dict_option,'metadata',['unique_id'], sep='_')

sap_filter = df_metadata['key']=="sap"
tmid_c_filter = df_metadata['key']=="tmid_c"

df_metadata_sap = df_metadata[sap_filter][['value', 'unique_id']].rename(columns={'value':'sap'})
df_metadata_tmid_c = df_metadata[tmid_t_filter][['value', 'unique_id']].rename(columns={'value':'tmid_c'})


## Merge dataframes

df_default_columns = df_option[['option_id', 'option_value', 'unique_id']]  

df_merged = pd.merge(df_default_columns, df_option_path, how='left', on='unique_id')
df_merged = pd.merge(df_merged, df_metadata_sap, how='left', on='unique_id')
df_merged = pd.merge(df_merged, df_metadata_tmid_c, how='left', on='unique_id')

df_merged = df_merged.drop(columns=['unique_id']).reset_index()

df_merged.head()

,index,option_id,option_value,option_path,sap,tmid_c
0,0,TO-242WBGGCW1W11,Aerial Sports,TO-242WAYFT91W11;TO-242WBGGCW1W11,SPOP000011,NaN
1,1,TO-242WBM9M91W11,Music,TO-242WAYFTN1W12;TO-242WBM9M91W11,CULP000007,NaN
2,2,TO-242WBGGK91W11,Skate Sports,TO-242WAYFT91W11;TO-242WBGGK91W11,SPOP000003,NaN
3,3,TO-242WBGGKS1W11,Ball Sports,TO-242WAYFT91W11;TO-242WBGGKS1W11,SPOP000007,NaN
4,4,TO-242WBM9N11W11,Other Culture,TO-242WAYFTN1W12;TO-242WBM9N11W11,CULP000013,NaN